html, body {
	width: 100%;
	height: 100%;
	padding-top: 0px;
	margin-top: 0px;
	background-color: #07263b;
}


.hidden {
	display: none;
}

line {
	stroke: white;
}

.axisLine path {
	stroke: darkgrey;
}